bin
bin/*
build
class
*.class
*.cmake
CMakeCache.txt
CMakeFiles
CMakeFiles/*
CMakeFiles/*
.gradle
.gradle
/home/username/src/src-bitbucket2/Algorithms/src/main/c/BinaryGap
.java_8_src
java.base
MakeFile
node_modules
*.o
obj
*.out
perf.log
runtime_cs
src/main/c/BinaryGap
src/main/c/BinaryGapp
src/main/c/CMakeFiles/Makefile2
src/main/c/Makefile
src/main/nodejs/node_modules
.tags
.venv
.venv27
.venv3
.venv35
target/*
*.ipynb
*.jar
data/random_numbers.txt
