*.class
.gradle
src/main/c/BinaryGap
.gradle
obj
runtime_cs
build
bin
bin/*
/home/username/src/src-bitbucket2/Algorithms/src/main/c/BinaryGap
.venv3
.tags
.venv27
.venv35
.venv
CMakeFiles/*
*.cmake
*.o
CMakeCache.txt
MakeFile
*.out
.java_8_src
CMakeFiles
CMakeFiles/*
src/main/c/CMakeFiles/Makefile2
src/main/c/Makefile
src/main/c/BinaryGapp
node_modules
perf.log
class
